@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;400;600;700&family=Roboto:wght@100;300;400;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: 'Raleway', 'Roboto', sans-serif;
  background-color: #fbfbfb;
  font-size: 62.5%;
}

/* Navbar */
header {
  background-color: #636c79;
  min-height: 90vh;
}

.logo {
  width: 60%;
  cursor: pointer;
}

header nav {
  padding: 2rem 6rem;
}

header nav,
.lists,
.container,
.section-1 .rates {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4rem;
}

.lists {
  flex-grow: 1;
  justify-content: flex-end;
}

.lists .list-item {
  list-style-type: none;
  color: #fff;
  cursor: pointer;
  font-size: 1.6rem;
}

nav .btn {
  color: #fff;
  background-color: transparent;
  padding: 1rem 4rem;
  margin-left: 8rem;
  cursor: pointer;
  border: 0.2rem solid #7d8188;
  border-radius: 0.2rem;
}

/* Header main */
.container {
  justify-content: space-evenly;
}

.container .image {
  margin-top: 4rem;
}

.container .heading h1 {
  color: #fff;
  font-size: 6rem;
}

.container .heading p {
  color: #c3c5c7;
  font-weight: 400;
  line-height: 1.6;
  padding: 2.5rem 0;
  font-size: 1.6rem;
}

.container form {
  display: flex;
  position: relative;
}

.container form i {
  font-size: 1.5rem;
}

.container form input {
  width: 100%;
  border: 0;
  outline: 0;
  font-size: medium;
  margin: 1.2rem 0;
  padding: 2rem 3rem;
  padding-left: 5rem;
}

.container form input::placeholder {
  color: #c3c5c7;
  font-family: 'Roboto';
}

.container form button {
  border: none;
  background-color: #8bb7a2;
  color: #ffffff;
  font-weight: 600;
  font-family: 'Raleway';
  padding: 1.5rem 5rem;
  cursor: pointer;
  position: absolute;
  top: 1.9rem;
  right: 0.8rem;
}

.container form i {
  position: absolute;
  top: 3.5rem;
  left: 1.5rem;
}

/* Sections */
.section-1 {
  margin: 10rem 3rem;
}

.section-1 > h1 {
  text-align: center;
  font-size: 4.5rem;
  margin-bottom: 6rem;
}

.section-1 .rates {
  justify-content: space-evenly;
}

.section-1 .rates .rate {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 1.5rem;
}

.section-1 .rates .rate > h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 3.5rem;
}

.section-1 .rates .rate p {
  font-size: 1.6rem;
}

.section-1 .image-2 img {
  width: 90%;
  display: block;
  margin: 5rem auto;
}

.section-2 {
  margin: 12rem 0;
}

.section-2 > h1 {
  text-align: center;
  font-size: 4.5rem;
  margin: 6rem 0;
}

.section-2 .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.section-2 .wrapper .content h1 {
  font-size: 4rem;
}

.section-2 .wrapper .content p {
  font-family: 'Roboto', sans-serif;
  color: #535558;
  line-height: 1.9;
  margin: 3rem 0;
  font-size: 1.6rem;
}

.section-2 .btn,
.section-3 .center button {
  border: none;
  background-color: #8bb7a2;
  color: #ffffff;
  font-size: 1.4rem;
  font-weight: 600;
  font-family: 'Raleway';
  padding: 1.5rem 5rem;
  cursor: pointer;
}

.section-2 .wrapper .image-3 img {
  width: 45rem;
}

.section-3 {
  margin: 10rem 14rem;
}

.section-3 .team-description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4.5rem 0;
}

.section-3 .team-description h1 {
  font-size: 4rem;
}

.section-3 .team-description p {
  font-family: 'Roboto', sans-serif;
  color: #535558;
  line-height: 1.9;
  font-size: 1.6rem;
}

.section-3 .teams {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 3rem;
}

.section-3 .member-1,
.section-3 .member-2,
.section-3 .member-3 {
  width: 35rem;
  height: 45rem;
}

.section-3 .teams .team-member {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  row-gap: 1rem;
}

.section-3 .teams .team-member p {
  font-size: 1.4rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

.section-3 .teams .team-member h4 {
  font-size: 1.6rem;
}

.section-3 .center {
  text-align: center;
  margin: 4.5rem 0;
}

/* Footer */
footer {
  background-color: #10181d;
}

footer .top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 3rem 14rem;
  padding: 5.5rem 0;
  border-bottom: 0.2rem solid #282f34;
}

footer .top .media-icons a i {
  margin-left: 1.5rem;
  background-color: #282f34;
  padding: 1.5rem;
  border-radius: 50%;
  color: #fff;
  font-size: 1.6rem;
}

footer .link-boxes {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4rem 14rem;
  padding-bottom: 12rem;
}

footer .link-boxes .box li {
  list-style-type: none;
  color: #fff;
}

footer .link-boxes .box .link_name {
  padding: 1.4rem 0;
  font-weight: 700;
  font-size: 1.6rem;
}

footer .link-boxes .box li a {
  text-decoration: none;
  color: #b1b4b6;
  font-size: 1.3rem;
  line-height: 2.5;
}
