@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;400;600;700&family=Roboto:wght@100;300;400;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Raleway', 'Roboto', sans-serif;
}

body {
  background-color: #fbfbfb;
}

/* Navbar */
header {
  background-color: #636c79;
  height: 90vh;
}

.logo {
  width: 120px;
  cursor: pointer;
}

header nav {
  padding: 20px 60px;
}

header nav,
.lists {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.lists {
  flex-grow: 1;
  justify-content: flex-end;
}

.lists .list-item {
  list-style-type: none;
  margin: 10px 20px;
  color: #fff;
  cursor: pointer;
}

nav .btn {
  color: #fff;
  background-color: transparent;
  padding: 10px 40px;
  margin-left: 80px;
  cursor: pointer;
  border: 2px solid #7d8188;
  border-radius: 2px;
}

/* Header main */
.container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.container .image {
  margin-top: 40px;
}

.container .heading h1 {
  color: #fff;
  font-size: 60px;
}

.container .heading p {
  color: #c3c5c7;
  font-weight: 400;
  line-height: 1.6;
  padding: 25px 0;
}

.container form {
  display: flex;
  position: relative;
}

.container form input {
  width: 100%;
  border: 0;
  outline: 0;
  font-size: medium;
  margin: 12px 0;
  padding: 20px 30px;
  padding-left: 40px;
}

.container form input::placeholder {
  color: #c3c5c7;
  font-family: 'Roboto';
}

.container form button {
  border: none;
  background-color: #8bb7a2;
  color: #ffffff;
  font-weight: 600;
  font-family: 'Raleway';
  padding: 15px 50px;
  cursor: pointer;
  position: absolute;
  top: 19px;
  right: 8px;
}

.container form i {
  position: absolute;
  top: 33px;
  left: 15px;
}

/* Sections */
.section-1 {
  margin: 100px 30px;
}

.section-1 > h1 {
  text-align: center;
  font-size: 45px;
  margin-bottom: 60px;
}

.section-1 .rates {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.section-1 .rates .rate {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 15px;
}

.section-1 .rates .rate > h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 35px;
}

.section-1 .image-2 img {
  width: 90%;
  display: block;
  margin: 50px auto;
}

.section-2 {
  margin: 120px 0;
}

.section-2 > h1 {
  text-align: center;
  font-size: 45px;
  margin: 60px 0;
}

.section-2 .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.section-2 .wrapper .content h1 {
  font-size: 40px;
}

.section-2 .wrapper .content p {
  font-family: 'Roboto', sans-serif;
  color: #535558;
  line-height: 1.9;
  margin: 30px 0;
}

.section-2 .btn,
.section-3 .center button {
  border: none;
  background-color: #8bb7a2;
  color: #ffffff;
  font-size: 14px;
  font-weight: 600;
  font-family: 'Raleway';
  padding: 15px 50px;
  cursor: pointer;
}

.section-2 .wrapper .image-3 img {
  width: 450px;
}

.section-3 {
  margin: 100px 140px;
}

.section-3 .team-description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 45px 0;
}

.section-3 .team-description h1 {
  font-size: 40px;
}

.section-3 .team-description p {
  font-family: 'Roboto', sans-serif;
  color: #535558;
  line-height: 1.9;
}

.section-3 .teams {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.section-3 .member-1,
.section-3 .member-2,
.section-3 .member-3 {
  width: 350px;
  height: 450px;
}

.section-3 .teams .team-member {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  row-gap: 10px;
}

.section-3 .teams .team-member p {
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

.section-3 .center {
  text-align: center;
  margin: 45px 0;
}
